<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="14"
    android:versionName="1.14"
    package="com.giulio.contentprovider">
    <application android:requestLegacyExternalStorage="true" android:preserveLegacyExternalStorage="true" android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".NativeContentProvider"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/SelectContactActivity"
            android:name="com.giulio.contentprovider.MergeContactactivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.giulio.contentprovider.NativeContentProvider" />
        </activity>
        <activity
            android:label="@string/SelectContactActivity"
            android:name="com.giulio.contentprovider.SelectContactActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.giulio.contentprovider.NativeContentProvider" />
        </activity>
        <activity
            android:label="@string/ContactListActivity"
            android:name="com.giulio.contentprovider.ContactsListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.giulio.contentprovider.NativeContentProvider" />
        </activity>
        <activity
            android:name="com.giulio.contentprovider.NewContactActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.giulio.contentprovider.ContactsListActivity" />
        </activity>
    </application>
    <uses-sdk android:targetSdkVersion="30"  />
<uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
<uses-permission android:name="android.permission.WRITE_CONTACTS"></uses-permission>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage"/>
</manifest> 